<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}/logo.ico">
{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://kit.fontawesome.com/9b896b7a03.js" crossorigin="anonymous"></script> <!--fontawesome-->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body><center>
      <!--<div id="header">-->
      <div>
        <nav id="Menu">
          <a href="{{ site.url }}/2025" class="button">Home</a>
          <div class="dropdown"><a href="{{ site.url }}/2025/minicourses"><button class="dropbtn">Minicourses</button></a>
            <div class="dropdown-content">
              {% for minicourse in site.minicourses %}
                {% if minicourse.eventcode contains 'grasp2' %}
                  <a href="{{ minicourse.url }}" class="button">{{ minicourse.shortname | default: minicourse.title }}</a>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <a href="{{ site.url }}/2025/calendar" class="button">Calendar</a>
          <a href="{{ site.url }}/2025/registration" class="button">Registration</a>
          <a href="{{ site.url }}/2025/organizers" class="button">Organizers</a>
          <!--<a href="{{ site.url }}/2025/contact" class="button">Contact</a>-->
          <a href="{{ site.url }}/2025/acknowledgments" class="button">Acknowledgments</a>
        </nav>

    <div class="wrapper">

      <section>
        <div id="title">
          <h1 style="font-weight: 500">II GraSP</h1>
          <p>Official website for the II São Paulo School on Gravitational Physics</p>
          <hr>
          <span class="credits left">Hosted on GitHub Pages</span>
          <span class="credits right">Theme based on "Midnight", by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
        </div>

        {{ content }}

      </section>

    </div>
  </center>
    
	<footer>
		<center>
			<address>II São Paulo School in Gravitational Physics
				<br/><a href="mailto:graspschool@gmail.com">graspschool@gmail.com</a>
				<br/><a href="https://www.youtube.com/channel/UCX13hxDoULJQisYEwBKpwfg" target="_blank" title="YouTube"><span class="fa-brands fa-youtube" style="font-size: 18px"></span></a>
			</address>
		</center>
	</footer>
  </body>
  
</html>
