---
layout: default
---
<h1>Calendar</h1>
{%- assign edition = site.data.editions[page.year] -%}
{%- assign minicourses = site.minicourses | where:"year",page.year -%}

<dl class="description">
    <dt>{{ edition.short_name }}</dt> <dd>{% include daterange.html start=edition.dates.start end=edition.dates.end %}</dd>
    <dt>Registration</dt> <dd>{% include daterange.html start=edition.dates.registration.open end=edition.dates.registration.close %}</dd>
    {% for minicourse in minicourses %}
        <dt><a href="{{ minicourse.url }}">{{ minicourse.title }}</a></dt> <dd>{% include daterange.html start=minicourse.schedule.start end=minicourse.schedule.end list=minicourse.schedule.list %} {%- if minicourse.schedule.time %} at {{ minicourse.schedule.time.brt }} (BRT)/{{ minicourse.schedule.time.utc }} (UTC){%- endif -%} </dd>
    {% endfor %}
    {%- for event in edition.special_events -%}
        <dt>{{ event.title }}</dt> <dd>{% include daterange.html start=event.date list=minicourse.schedule.list %} at {{ event.time.brt }} (BRT)/{{ event.time.utc }} (UTC) </dd>
    {%- endfor -%}
</dl>

{{ content | markdownify }}