@font-face {
  font-family: 'FiraSansBlack';
  src: url("../fonts/FiraSans-Black.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSansBlackItalic';
  src: url("../fonts/FiraSans-BlackItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSansExtraBold';
  src: url("../fonts/FiraSans-ExtraBold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSansExtraBoldItalic';
  src: url("../fonts/FiraSans-ExtraBoldItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSansBold';
  src: url("../fonts/FiraSans-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSansBoldItalic';
  src: url("../fonts/FiraSans-BoldItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSansSemiBold';
  src: url("../fonts/FiraSans-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSansSemiBoldItalic';
  src: url("../fonts/FiraSans-SemiBoldItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSansMedium';
  src: url("../fonts/FiraSans-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSansMediumItalic';
  src: url("../fonts/FiraSans-MediumItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSansRegular';
  src: url("../fonts/FiraSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSansRegularItalic';
  src: url("../fonts/FiraSans-RegularItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSansLight';
  src: url("../fonts/FiraSans-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSansLightItalic';
  src: url("../fonts/FiraSans-LightItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSansExtraLight';
  src: url("../fonts/FiraSans-ExtraLight.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSansExtraLightItalic';
  src: url("../fonts/FiraSans-ExtraLightItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSansThin';
  src: url("../fonts/FiraSans-Thin.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSansThinItalic';
  src: url("../fonts/FiraSans-ThinItalic.ttf");
  font-weight: normal;
  font-style: normal;
}