img {
    max-width: 100%; 
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    padding-bottom: 20px;
}

@media print, screen and (max-width: 480px) {
    section {
        margin-top:40px
    }
}

.organizer-picture {
  text-align: center;
  margin: 1em 0; // optional spacing
}
