body {
    padding:0px 0 20px 0px;
    margin:0px;
    font: #{$base-font-size}/#{$base-line-height} $font-regular;
    color: $text-main;
    font-weight:normal;
    text-align: center;
    background: $bg-main;
    background-attachment:fixed !important;
}

a:link {
    color: $accent-primary;
}

a:visited {
    color: $accent-visited;
}

a:active, a:hover {
    color: $accent-secondary;
}

h1, h2, h3, h4, h5, h6 {
    color:$text-dark;
    margin:0 0 10px;
    font-family:$font-regular;
    font-weight:normal
}

section #title h1 {
    font-family: $font-light;
    font-weight:normal;
    font-size:40px;
    text-align:center;
    color: $text-dark;
    line-height:36px
}

section #title p {
    color:$text-main;
    font-family: $font-light;
    font-weight:normal;
    font-size:18px;
    text-align:center
}

section #title .credits {
    font-size:11px;
    font-family:$font-regular;
    font-weight:normal;
    color:$text-muted;
    margin-top:-10px
}

p, ul, ol {
    text-align:justify;
    hyphens: auto;
}

section ul {
  list-style-type: none;
}

section ul li::marker {
  content: "» ";
  color: $text-main;
  font-weight: 600;
}

strong {
    font-family:$font-bold !important;
    font-weight:normal
}

th {
 text-align:left;
 padding:5px 10px;
 border-bottom:1px solid $text-main;
 color:$text-main;
 font-family:$font-semibold !important;
 font-weight:normal
}

dl.description-simplified {
  display: block;
  margin: 1.5em 0;
  line-height: 1.6em;
  text-align: justify;
  hyphens: auto;
}

dl.description-simplified dt {
  color: $text-main;
  display: inline;
  font-family:$font-semibold !important;
  font-weight:normal;
  // text-align: justify;
}

dl.description-simplified dt::after {
  content: ": ";
}

dl.description-simplified dd {
  display: inline;
  margin: 0;
  // text-align: justify;
}

dl.description-simplified dd::after {
  content: "\A";
  white-space: pre;
}

dl.description {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 0.5em;
  row-gap: 0.75em;
  margin: 1.5em 0;
  line-height: 1.6em;
}

dl.description dt {
  color: $text-main;
  display: inline;
  font-family:$font-semibold !important;
  font-weight:normal;
  text-align: right;
}

dl.description dt::after {
  content: ": ";
}

dl.description dd {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  text-align: justify;
  hyphens: auto;
}

dl.description dd::after {
  content: "";
  display: block;
}

dl.description dd > ul,
dl.description dd > ol {
  margin: 0.25em 0 0;
  padding-left: 1.2em;
}